.header{
	padding-top: 250px;
	width: 100%;
	height: 720px;
	background-image: url(grphnd.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	text-align: center;
}
.heading{
	text-align: center;
}
.matter h2 span{
	top: 20px;
	margin-top: 25px;
	padding:10px; 
	font-size: 50px;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	
	color: #fff;	
}
.cont{
	margin: 30px;
	
	align-items: center;
	transition: 0.5s ease;
	
}
.cont img{
	width: 355px;
	height: 317px;
	float: right;
	
	box-shadow: gray 0px 5px 40px;
	margin: 18px 20px 18px 20px;
}
.contnt p{
	font-size: 25px;
	
	line-height: 1.8;
	padding: 15px 15px 15px 25px;
}