.header{
	padding-top: 250px;
	width: 100%;
	height: 720px;
	background-image: url(grphnd.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	text-align: center;
}
.heading{
	text-align: center;
}
.matter h2 span,.matter h3 span{
	top: 20px;
	margin-top: 25px;
	padding:10px; 
	font-size: 50px;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	
	color: #fff;	
}
.cont{
	margin: 30px;
	
	align-items: center;
	transition: 0.5s ease;
	
}
.cont img{
	width: 355px;
	height: 317px;
	float: right;
	
	box-shadow: gray 0px 5px 40px;
	margin: 18px 20px 18px 20px;
}
.contnt p{
	font-size: 25px;
	
	line-height: 1.8;
	padding: 15px 15px 15px 25px;
}
button{
	width: 300px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 35%;
	border-radius: 10px;
	border: 2px solid #fdbb00;
	background-color: #fdbb00;
	color: #000;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	outline: none;
	transition: 0.5s ease;
}
footer{

   

        
        width:100%;

        height: 410px;

        background-color: #000000ab; 
        color: #fff;
      }

      .left-box{

       width:60%;

     margin-left: 1%;

  

    float:left;

    font-size: larger;

 

      }

      .right-box{

          width:28%;
         
          margin-right:1%;
          margin-left: 5%;
          

          float:right;

          font-size: larger;

      }

      .main-content{

        display: flex;

      }

  

     .left-box h2{
     	margin: 10px;
       color:#fff;

     }

     .right-box h2{
     		margin: 10px;
       color:#fff;

     }
     .hline{
	margin:0 200px 0 200px;
}
     .soc-media{
	text-align: center;
}
.soc-media ul{
	position: absolute;
	
	padding: 0;

	display: flex;
	margin-left: 35%;
}
.soc-media ul li{
	list-style: none;
	margin: 0 15px;

}
.soc-media ul li .fa{
	font-size: 25px;
	line-height: 60px;
	transition: .5s;
	color: #fff;
}
.soc-media ul li .fa:hover{
	color: #fff;
}
.soc-media ul li a{
	position: relative;
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #32cd32;
	text-align: center;
	box-shadow: 0 5px 4px rgba(0,0,0,.5);
}
.soc-media ul li a:hover{
	transform: translateY(-3px);
}
.soc-media ul li:nth-child(1) a:hover{
	background-color: #3b5999;
}
.soc-media ul li:nth-child(2) a:hover{
	background-color: #55acee;
}
.soc-media ul li:nth-child(3) a:hover{
	background-color: #e4405f;
}
.soc-media ul li:nth-child(4) a:hover{
	background-color: #25D366;
}
.soc-media ul li:nth-child(5) a:hover{
	background-color: #bd081c;
}
.heading h1{
	font-size: 30px;
	margin-bottom: 10px;
}
