*{
	margin:0;
	padding: 0;
}
.topsection{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(bgimg.jpg);
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	position: relative;
	text-align: center;
padding-top: 80px;
}
h2{
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&display=swap');
span{
	/*background-color: rgba(0,0,0,0.6);*/
	color: #fff;
	font-family: 'Bebas Neue', sans-serif;
	text-transform: capitalize;
}
button{
	width: 200px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	border: 2px solid #009688;
	background-color: #2EE59D;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	outline: none;
	
}
a{
	text-decoration: none;
	color: #ccc;

}
.conatainer{
	display: inline-block;
	padding: 30px;
}
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.things p{
font-family: 'Lobster', cursive;
}
img{
	width: 40%;
	height: 40%;
	margin-top: 30px;
	margin-bottom: 30px;
	align-items: center;
}

.column1{
	float: left;
	width: 16%;
	margin-left: 230px;
	margin-right: 2%;
	margin-top: 2%;
	padding: 2%;
	border:none;
	background-color:#cccccc1c; 
	text-align: center;
}
.column1:hover{
	transform: translateY(-7px);
	box-shadow: rgba(153, 153, 153, 0.2) 0px 5px 40px;

}
.column2{
	float: left;
	width: 16%;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
	padding: 2%;
	border:none;
	text-align: center;
	background-color: #cccccc1c;
}
.column2:hover{
	transform: translateY(-7px);
	box-shadow: rgba(153, 153, 153, 0.2) 0px 5px 40px;

}
.column3{
	float: left;
	width: 16%;
	text-align: center;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
	padding: 2%;
	border:none;
	background-color: #cccccc1c;
}
.column3:hover{
	transform: translateY(-7px);
	box-shadow: rgba(153, 153, 153, 0.2) 0px 5px 40px;

}
@media screen and (max-width:700px) {
  .column1 {
      place-items: center;
      margin-left: 25%;
      margin-left: 25%;
    width: 50%;
    padding:1%;
  }
  .column2 {
      margin-left: 25%;
      margin-left: 25%;
      width: 50%;
      

    }
   
    .column3 {
      margin-left: 25%;
      margin-left: 25%;
      width: 50%;
    }
}
.things h2{
	font-size: 30px;
	font-weight: bold;
	color: black;
	font-family: 'Anton', sans-serif;
	padding-bottom: 2px;

} 
.adress{
	background-color: #196aaa; 
	text-align: center;
	
}
.adr{
	margin: 7px;
	font-size: 20px;
	font-weight: bold;
}
.adrh{
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 25px;
}
.list{
	padding:50px 120px 50px 120px;
	font-size: 25px;
}
ul {
	margin:0 50px 50px 1rem; 
	float: left;
}
li{
	margin: 5px 0;
}
.heading{
	margin-top: 60px;
	margin-bottom: 20px;
	text-align: center;
}
