*{
	margin:0;
	padding: 0;
}
nav{
	background-color: black;

}
nav:after{
	content: '';
	clear: both;
	display: table;
}
nav .logo{
	color: white;
	float: left;
	
	
	padding-left: 40px;
	
}
nav .logo img{
	width: 200px;
	height: 50px;
	line-height: 20px;
}
nav ul{
	float: right;
	list-style: none;
	margin-right: 40px;
	position: relative;
}
nav ul li{
	float: left;
	display: inline-block;
	background:transparent;
	margin:0 5px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	line-height: 70px;
	font-size: 18px;
	padding: 8px 15px;
	color: white;
}
nav ul li a:hover{
	color: cyan;
	border-radius: 5px;
	box-shadow: 0 0 5px #33ffff,
				0 0 5px #66ffff;
}
nav ul ul li a:hover {
	color: cyan;
	box-shadow: none;
}
nav ul ul{
	position: absolute;
	top: 90px;
	border-top: 3px solid cyan;
	opacity: 0;
	visibility: hidden;
	transition: top 0.3s;
}
nav ul li:hover > ul{
	opacity: 1;
	visibility: visible;
top: 70px;
}
nav ul ul li{
	position: relative;
	margin: 0px;
	width: 150px;
	float: none;
	display: list-item;
	border-bottom: 1px solid rgba(0,0,0,0.3);
}
nav ul ul li a{
	line-height: 50px;
}
.topsection{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(bgimg.jpg);
	width: 100%;
	height: 120%;
	background-repeat: no-repeat;
	position: relative;
	text-align: center;
padding-top:80px; 
}
h2{
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&display=swap');
span{
	/*background-color: rgba(0,0,0,0.6);*/
	color: #fff;
	font-family: 'Bebas Neue', sans-serif;
	text-transform: capitalize;
	text-shadow: 3px 3px #f9a82569;
}
button{
	width: 200px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	border: 2px solid #009688;
	background-color: #60bc0f;
	color: #fff;
	font-weight: 600;
	text-shadow: 1px 1px #ccc;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	outline: none;
	transition: 0.5s ease;
}
.topsection button:hover{
   background-color: #5a9a23;
 
  
  color: #fff;
  transform: translateY(-7px);
  }
a{
	text-decoration: none;
	
}
.conatainer{
	display: inline-block;
	padding: 30px;
}
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.things p{
font-family: 'Lobster', cursive;
}
img{
	width: 40%;
	height: 40%;
	margin-top: 30px;
	margin-bottom: 30px;
	align-items: center;
}

.column1{
	float: left;
	width: 16%;
	margin-left: 230px;
	margin-right: 2%;
	margin-top: 2%;
	padding: 2%;
	border:none;
	background-color:#cccccc1c; 
	text-align: center;
}
.column1:hover{
	transform: translateY(-7px);
	box-shadow: rgba(153, 153, 153, 0.2) 0px 5px 40px;
	/*rgba(153, 153, 153, 0.2)*/
}
.column2{
	float: left;
	width: 16%;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
	padding: 2%;
	border:none;
	text-align: center;
	background-color: #cccccc1c;
}
.column2:hover{
	transform: translateY(-7px);
	box-shadow: rgba(153, 153, 153, 0.2) 0px 5px 40px;

}
.column3{
	float: left;
	width: 16%;
	text-align: center;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
	padding: 2%;
	border:none;
	background-color: #cccccc1c;
}
.column3:hover{
	transform: translateY(-7px);
	box-shadow: rgba(153, 153, 153, 0.2) 0px 5px 40px;

}
footer{
	text-align: center;
}
@media screen and (max-width:700px) {
  .column1 {
      place-items: center;
      margin-left: 20%;
      margin-right: 20%;
    width: 60%;
    padding:1%;
  }
  .column2 {
      margin-left: 20%;
      margin-right: 20%;
      width: 60%;
      

    }
   
    .column3 {
      margin-left: 20%;
      margin-right: 20%;
      width: 60%;
    }
    
     ul{
     	width: 90%;
     	left: -30px;
     	margin-right: 2%;
     }
    
    .content {
    	width: 400px;
    }
    .content img{
    	width: 100%;

    }
    .cont {
    	width: 400px;
    }
    .cont img{
    	width: 100%;

    }
}
.things h2{
	font-size: 30px;
	font-weight: bold;
	color: black;
	font-family: 'Anton', sans-serif;
	padding-bottom: 2px;

} 
.adress{
	background-color: #60bc0f; 
	text-align: center;
	color: #fff;
}
.adr{
	margin: 7px;
	font-size: 25px;
	font-weight: bold;
}
.adrh{
	font-size: 20px;
	text-shadow: 3px 3px #f9a82569;
	margin-top: 10px;
	margin-bottom: 25px;
}
.list{
	background-image: url(bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding:50px 0px 50px 0;
	margin-left: 10px;
	font-size: 30px;
	color: #fff;
}
ul {
	margin:0 50px 50px 45px; 
	float: left;
}
li{
	margin: 5px 0;
}
.list:after {
    content: "";
    display: table;
    clear: both;
  }
.heading{
	margin-top: 60px;
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 3px 3px #f9a82569;
}
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.list ul{
font-family: 'Lobster', cursive;
}
.content{
	margin: 30px;
	text-align: center;
	align-items: center;
	transition: 0.5s ease;
	
}
.content:hover{
	transform: translateY(-7px);
	background-color:#60bc0f;
	box-shadow: gray 0px 5px 40px;
}
.cont{
	margin: 30px;
	text-align: center;
	align-items: center;
	transition: 0.5s ease;
	
}
.cont:hover{
	transform: translateY(-7px);
	background-color:#FFF59D;
	box-shadow: gray 0px 5px 40px;
}

.content img{
	width: 355px;
	height: 317px;
	float: left;
	
	box-shadow: gray 0px 5px 40px;
	margin: 18px 20px 18px 20px;
}
.cont img{
	width: 355px;
	height: 317px;
	float: right;
	
	box-shadow: gray 0px 5px 40px;
	margin: 18px 20px 18px 20px;
}
.contnt p{
	font-size: 35px;
	background-color: #60bc0f;
	color: #fff;
	padding: 15px 15px 15px 25px;
}
.hline{
	margin:0 100px 0 100px;
}
 footer{

   

        
        width:100%;

        height: 450px;

        background-color: #000000ab; 
        color: #fff;
      }

      .left-box{

       width:60%;

     margin-left: 1%;

  

    float:left;

    font-size: larger;

 

      }

      .right-box{

          width:28%;
         
          margin-right:1%;
          margin-left: 5%;
          

          float:right;

          font-size: larger;

      }

      .main-content{

        display: flex;

      }

  

     .left-box h1{
     	margin: 10px;
       color:#fff;
       font-size:20px;
     }

     .heding h1{
 
     		margin: 10px;
     	font-size: 20px;
       color:#fff;

     }
     
     .hline{
	margin:0 200px 0 200px;
}
     .soc-media{
	text-align: center;
}
.soc-media ul{
	position: absolute;
	
	padding: 0;

	display: flex;
	margin-left: 35%;
}
.soc-media ul li{
	list-style: none;
	margin: 0 15px;

}
.soc-media ul li .fa{
	font-size: 25px;
	line-height: 60px;
	transition: .5s;
	color: #fff;
}
.soc-media ul li .fa:hover{
	color: #fff;
}
.soc-media ul li a{
	position: relative;
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #32cd32;
	text-align: center;
	box-shadow: 0 5px 4px rgba(0,0,0,.5);
}
.soc-media ul li a:hover{
	transform: translateY(-3px);
}
.soc-media ul li:nth-child(1) a:hover{
	background-color: #3b5999;
}
.soc-media ul li:nth-child(2) a:hover{
	background-color: #55acee;
}
.soc-media ul li:nth-child(3) a:hover{
	background-color: #e4405f;
}
.soc-media ul li:nth-child(4) a:hover{
	background-color: #25D366;
}
.soc-media ul li:nth-child(5) a:hover{
	background-color: #bd081c;
}
.heading h1{
	font-size: 30px;
	margin-bottom: 10px;
}