*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.banner{
	height: 100%;
	width: 100%;
	background-image: url(pexels-min-an-713644.jpg);
	background-position: center;
	background-size: cover;
	font-family: sans-serif;
}
.navbar{
	width: 81%;
	margin: auto;
	padding 35px 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-decoration: none;
}
.logo{
	height: 100;
	width: 100;
	background-color: white;
	cursor: pointer;
	margin-top: 13px;
}
.logo img:hover{
	opacity: 1.5;
}
.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	margin-top: 14px;
	position: relative; 
	text-decoration: none;
}
.navbar ul li a{
	text-decoration: none;
	color: #fff;
	margin-left: 25px;
	margin-right: 25px;
	text-transform: uppercase;
}
.navbar ul li::after{
	content: '';
	height: 4px;
	width: 0;
	text-decoration: none;
	background: #009688;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}
.navbar ul li:hover:after{
	width: 100%;
}
.content{
	width: 100%;
	position: absolute;
	top : 50%;
	transform: translateY(-50);
	text-align: center;
	font-family: Monaco;
	color: #fff;
}
.content h1{
	font-size: 50px;
	margin-top: -51px;
}
.content p{
	margin: 20px auto;
	font-weight: 100;
	line-height: 30px;
	font-size: 20px;
}
button{
	width: 200px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid #009688;
	background: #778899;
	color: #fff;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	}
 span{
	background: #009688;
	height: 100%;
	width: 0;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}
button:hover span{
	width: 100%;
}
button:hover{
	border: none;
}
 