*{
  box-sizing: border-box;
 
}
.header {
  background-color: blue;
  color: white;
  padding: 15px;
  text-align: center;
  background: url("https://media.gettyimages.com/photos/african-girl-eating-a-meal-in-the-orphanage-picture-id108349181?s=2048x2048");
  background-size: cover;
  background-attachment: fixed;  
}
.hp{
  text-align: center;
  margin-left:10%;
  margin-right:10%;
  text-shadow: 1px 1px 0p grey;
}

.column1 {
  float: left;
  width: 22%;
  padding: 15px;
  border-style: groove;
  height:150px;
  text-align:center;
  margin:1%;
  background:rgb(240, 148, 12);
  box-shadow: 5px 10px 8px #888888

}

.column2 {
  float: left;
  width: 22%;
  padding: 15px;
  border-style: groove;
  height:150px;
  text-align:center;
  margin:1%;
  background: rgb(216, 195, 7);
  box-shadow: 5px 10px 8px #888888
}
.column3 {
  float: left;
  width: 22%;
  padding: 15px;
  border-style: groove;
  height:150px;
  text-align:center;
  margin:1%;
  background: rgb(168, 224, 13);
  box-shadow: 5px 10px 8px #888888
}
.column4 {
  float: left;
  width: 22%;
  padding: 15px;
  border-style: groove;
  height:150px;
  text-align:center;
  margin:1%;
  background: rgb(11, 235, 186);
  box-shadow: 5px 10px 8px #888888
}

.row:after {
  content: "";
  display: table;
  clear: both;
}/*
@media screen and (max-width:700px) {
  .column1 {
      margin-left: 25%;
      margin-right: 25%;
    width: 50%;
  
  }
  .column2 {
      margin-left: 25%;
      margin-right: 25%;
      width: 50%;
      

    }
    .column2 {
      margin-left: 25%;
      margin-right: 25%;
      width:50%;
    }
    .column3 {
      margin-left: 25%;
      margin-right: 25%;
      width: 50%;
    }
    .column4 {
      margin-left: 25%;
      margin-right: 25%;
      width: 50%;
    }
         
}*/

