*{
    box-sizing: border-box;
}
body{
    background: url("https://media.gettyimages.com/photos/mud-wall-background-picture-id1183909819?k=6&m=1183909819&s=612x612&w=0&h=OPiK8WJ_3hagA4LAbGNlcP63WRjT3ydHRiuRnFw5MBo=");
     background-repeat: no-repeat;
background-size: cover;
}
.header{
    background: url("https://media.gettyimages.com/photos/out-of-date-in-garbage-bin-in-front-of-fridge-picture-id500015069?k=6&m=500015069&s=612x612&w=0&h=ciiteaiqp5-S3YQaKdsph8QWno5kLqMDv9pbMz336fo=");
   background-repeat: no-repeat;
   padding:100px;
    background-size: 100% 100%;
    background-position: center;
   text-align: center;
   color:orange;
   
}
h1{
    border: px solid orange;
    background-color: rgb(0,0,0,0.5);
    padding:10px;
    margin-left:25%;
    margin-right: 25%;

}
.info{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color:white;
    
   
}
.last{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    margin-left: 5%;

}