*{
    box-sizing: border-box;
}
body{
    background: url("https://media.gettyimages.com/photos/closeup-of-fruits-against-white-background-picture-id1220160080?k=6&m=1220160080&s=612x612&w=0&h=1M3-3OU-uJ8MyJIg3kguftNp392tBcRNo0djBGiHHVE=");
background-repeat: no-repeat;
background-size: cover;
}
.header{
    background: url("https://media.gettyimages.com/photos/out-of-date-in-garbage-bin-in-front-of-fridge-picture-id500015069?k=6&m=500015069&s=612x612&w=0&h=ciiteaiqp5-S3YQaKdsph8QWno5kLqMDv9pbMz336fo=");
   background-repeat: no-repeat;
   padding:100px;
    background-size: 100% 100%;
    background-position: center;
   text-align: center;
   color:yellow;
   
}
.info{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
   
}
.last{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    margin-left: 5%;

}