body{ 
    padding-top: 25px;
    margin:0;
    padding:0;
    background-color: black;
    background-image: url("https://media.gettyimages.com/photos/laptop-computer-and-reciept-roll-picture-id112295348?k=6&m=112295348&s=612x612&w=0&h=TfSb24uia0ZEZiCFacinXI_o_FchLjqTWuf_xcmimxs=");
   background-repeat: no-repeat;
   background-size: cover;
  }
  .form{
    padding-top :25px;
      background-color: rgb(0,0,0,0.5);
      margin:800px;
      margin:auto;
      text-align: center;
      
      border-style: solid;
      width:30%;
    
    }
  
  form{
    padding: 10px;
    color:white;
    font-family: bold;
  font-size: large;
  }
  h1{
    text-align: center;
    color: white;
  }
  h2{
    text-align: center;
    color: white;
  }
  input[type="text"],input[type="number"],select{
    background-color: whitesmoke;
    color:whitesmoke;
    width:80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
  }
  input[type="text"]:focus,input[type="number"]:focus,select:focus{
    background-color:black;
    color:white;
  }
  #accept{
    font-size: medium;
    margin:0;
    padding:0;
  }
  .icon{
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  input[type="submit"]
  {
      background:aqua;
      color:black;
      cursor: pointer;
      padding:15px 17px;
      margin :2px 1px;
      border:none;
      border-radius:4px;
      text-decoration:none;
      box-shadow: #ccc;
      text-align: center;
  
  }
  input[type="submit"]:hover{
    background:tomato;
    width:40%;
  }
  
  