
*{
    box-sizing: border-box;
}
.header{
    text-align: center;
	color: orange;
	font-size: 30px;
	padding:100px;
    height:400px;
	font-style: italic;
    background:url("https://media.gettyimages.com/photos/african-primary-school-young-girl-in-a-class-room-lome-togo-picture-id1165311339?k=6&m=1165311339&s=612x612&w=0&h=qb4nU4-T6fAV2C2isVZtVaMyOU6zUghs7ZTv5OiRsiA=") ;
background-size: 100% 50%;
background-attachment: fixed;
background-repeat: no-repeat;
}
.column1{
    width:48%;
    float: left;
    height:300px;
    padding:15px;
    background: url("https://media.gettyimages.com/photos/father-helping-his-son-with-schoolwork-picture-id1240140094?k=6&m=1240140094&s=612x612&w=0&h=yLpSanWvdH6IqLtX7hMGHgLt5wpa01mgKVf2S_ar7eY=");
    background-size: 750px 300px;
background-repeat: no-repeat;
margin:1%;
    
}
.column2{
    width:48%;
    float: left;
    font-style: oblique;
    background-color: aqua;
    height:300px;
    padding:15px;
    margin:1%;
}
.column3{
    width:48%;
    float: left;
    font-style: oblique;
    background-color:orange;
    height:300px;
    padding:15px;
    margin:1%;
}
.column4{
    width:48%;
    float: left;
    height:300px;
    padding:15px;
    background: url("https://media.gettyimages.com/photos/family-in-the-city-picture-id1210809980?k=6&m=1210809980&s=612x612&w=0&h=Y7tbsK0f9Rv9ZaOpctwmKg4FY39DqfZ1gUQvy-BRgiQ=");
    background-size: 750px 300px;
    margin:1%;
background-repeat: no-repeat;
    
}
.button{
    background-color: aqua;
    border-radius: 24px;
    border-style: solid;
    text-align:center;
    font-size: 20px;
    width:35%;
    
}
.row1:after {
    content: "";
    display: table;
    clear:both;
    }
    .row2:after {
        content: "";
        display: table;
        clear:both;
     }
     h2{
         text-align: center;
     }
     #sponsor{
         border-collapse: collapse;
         place-items:inherit;
         text-align: left;
         margin-left: 25%;
         margin-right:25%;
         
         box-shadow: 10px 10px lightgreen;
     }
     #sponsor td ,#sponsor th{
         border:1px solid black;
         padding:8px;
     }
     #sponsor th{
         background-color: orange;
         color: black;
         padding-top: 12px;
         padding-bottom: 12px;
         text-align: center;
     }
     #sponsor tr:nth-child(even){
         background-color: beige;

     }
     #sponsor tr:nth-child(odd){
        background-color: aquamarine;

    }
    #sponsor tr:hover{
        background-color:  greenyellow;
    }
@media screen and (max-width:750px){
    .column1{
        width:100%;
    }
    .column2{
        width:100%;
    }
    .column3{
        width:100%;
    }
    .column4{
        width:100%;
    }
}