<<<<<<< HEAD:style.css
*{
	margin: 0;
	padding: 0;
	
	
	font-family: sans-serif;
}


nav{
	background: rgba(0,0,0,0.3);

}
nav:after{
	content: '';
	clear: both;
	display: table;
}
nav .logo{
	color: white;
	float: left;
	font-size: 27px;
	font-weight: 600;
	line-height: 70px;
	padding-left: 60px;
	
}
nav ul{
	float: right;
	list-style: none;
	margin-right: 40px;
	position: relative;
}
nav ul li{
	float: left;
	display: inline-block;
	background:transparent;
	margin:0 5px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	line-height: 70px;
	font-size: 18px;
	padding: 8px 15px;
	color: white;
}
nav ul li a:hover{
	color: cyan;
	border-radius: 5px;
	box-shadow: 0 0 5px #33ffff,
				0 0 5px #66ffff;
}
nav ul ul li a:hover {
	color: cyan;
	box-shadow: none;
}
nav ul ul{
	position: absolute;
	top: 90px;
	border-top: 3px solid cyan;
	opacity: 0;
	visibility: hidden;
	transition: top 0.3s;
}
nav ul li:hover > ul{
	opacity: 1;
	visibility: visible;
top: 70px;
}
nav ul ul li{
	position: relative;
	margin: 0px;
	width: 150px;
	float: none;
	display: list-item;
	border-bottom: 1px solid rgba(0,0,0,0.3);
}
nav ul ul li a{
	line-height: 50px;
}
.fa-caret-right{
	
	font-size: 10px;
}

.header{
	height: 720px;
	background-size: cover;
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(theme.jpg);
	
	background-repeat: no-repeat;
}
.header .content{
	padding-left: 50px;
	font-size: 30px;
	text-align: center;
	left: 0px;
	color: #fff;
	padding-top: 250px;
}
.content h1{
	color: #60bc0f; 
}
.heading{
	
	margin-top: 20px;
	text-align: center;
	font-size: 25px;
}
.conatainer{
	display: inline-block;
	padding: 30px;
}
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.things p{
font-family: 'Lobster', cursive;
padding: 2%;
}
.things .imgBox{
	overflow: hidden;
	padding: 0;
}
.imgBox img{
	width: 100%;
	height: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 0;
	margin-right: 0;
	align-items: center;
	transition: transform 0.5s;
}
.column1:hover .imgBox img{
transform: scale(1.1);
}
.column2:hover .imgBox img{
transform: scale(1.1);
}
.column4:hover .imgBox img{
transform: scale(1.1);
}
.column5:hover .imgBox img{
transform: scale(1.1);
}
.column1{
	float: left;
	width: 20%;
	margin-left: 150px;
	border-radius: 10px;
	margin-right: 2%;
	margin-top: 2%;
	padding: 2%;
	border:none;
	background-color:#60bc0f; 
	text-align: center;
	color: #fff;
}
.column1:hover{
	transform: translateY(-7px);
	box-shadow: rgba(153, 153, 153, 0.2) 0px 5px 40px;

}
.column2{
	float: left;
	width: 20%;
	border-radius: 10px;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
	padding: 2%;
	border:none;
	text-align: center;
	background-color:#60bc0f;
color: #fff;
}
.column2:hover{
	transform: translateY(-7px);
	box-shadow: rgba(153, 153, 153, 0.2) 0px 5px 40px;

}
.column3{
	float: left;
	width: 20%;
	text-align: center;
	border-radius: 10px;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
	padding: 2%;
	border:none;
	background-color:#60bc0f;
color: #fff;
	transition: transform 0.5s;
}
.column3:hover .imgBox img{
transform: scale(1.1);
}

.column3:hover{
	transform: translateY(-7px);
	box-shadow: rgba(153, 153, 153, 0.2) 0px 5px 40px;

}

.column4{
	float: left;
	width: 20%;
	text-align: center;
	border-radius: 10px;
	margin-left: 340px;
	margin-right: 2%;
	margin-top: 2%;
	padding: 2%;
	border:none;
	background-color:#60bc0f;
color: #fff;
}
.column4:hover{
	transform: translateY(-7px);
	box-shadow: rgba(153, 153, 153, 0.2) 0px 5px 40px;

}
.column5{
	float: left;
	width: 20%;
	text-align: center;
	border-radius: 10px;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
	padding: 2%;
	border:none;
	background-color:#60bc0f;
color: #fff;
}
.column5:hover{
	transform: translateY(-7px);
	box-shadow: rgba(153, 153, 153, 0.2) 0px 5px 40px;

}



.Volunteer{
	padding-top: 100px;
	padding-bottom: 80px;
	background: #60bc0f;
	color: #fff;
	text-align: center;
	margin-bottom: 20px;
}
.Volunteer button{
	width: 200px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 10px;
	border: 2px solid #fdbb00;
	background-color: #fdbb00;
	color: #000;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	outline: none;
	transition: 0.5s ease;
}
.Volunteer h1{
	text-align: center;
	font-size: 35px;
}
.Volunteer p{
	text-align: center;
	font-size: 20px;
}
.conatainer1{
	display: inline-block;
	padding: 30px;
	background-color: #F9FAFC;
}

.vol1{
	float: left;
	width: 17%;
	margin-left: 50px;
	border-radius: 10px;
	margin-right: 1%;
	margin-top: 2%;
	padding: 2%;
	border:none;
	background-color:#fff;
	text-align: center;
	
}
.vol2{
	float: left;
	width: 17%;
	border-radius: 10px;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 2%;
	padding: 2%;
	border:none;
	text-align: center;
	background-color:#fff;

}
.vol3{
	float: left;
	width: 17%;
	border-radius: 10px;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 2%;
	padding: 2%;
	border:none;
	text-align: center;
	background-color:#fff;

}
.vol4{
	float: left;
	width: 17%;
	border-radius: 10px;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 2%;
	padding: 2%;
	border:none;
	text-align: center;
	background-color:#fff;

}
.container2{
	
	display: inline-block;
	padding: 30px;
	background-color: #Fff;
}
.icon{
	display: inline-block;
	
}
.icon i{
	margin-left: 20px;
	margin-top: 10px;
	font-weight: 600;
	font-size: 20px;

}
.str1{
	float: left;
	width: 25%;
	margin-left: 70px;
	border-radius: 10px;
	margin-right: 1%;
	margin-top: 2%;
	padding: 2%;
	border:none;
	background-color:#fff; 
	text-align: center;
	
}
.str2{
	float: left;
	width: 25%;
	margin-left: 20px;
	border-radius: 10px;
	margin-right: 1%;
	margin-top: 2%;
	padding: 2%;
	border:none;
	background-color:#fff; 
	text-align: center;
}
.str3{
	float: left;
	width: 25%;
	margin-left: 20px;
	border-radius: 10px;
	margin-right: 1%;
	margin-top: 2%;
	padding: 2%;
	border:none;
	background-color:#fff; 
	text-align: center;
	
}
@media screen and (max-width:700px) {
  .column1 {
      place-items: center;
      margin-left: 20%;
      margin-right: 20%;
    width: 60%;
    padding:1%;
  }
  .column2 {
      margin-left: 20%;
      margin-right: 20%;
      width: 58%;
      

    }
   
    .column3 {
      margin-left: 20%;
      margin-right: 20%;
      width: 58%;
    }
     .column4 {
      place-items: center;
      margin-left: 20%;
      margin-right: 20%;
    width: 60%;
    padding:1%;
  }
   .column5 {
      place-items: center;
      margin-left: 20%;
      margin-right: 20%;
    width: 60%;
    padding:1%;
  }
  .vol1{
  	margin-left: 20%;
      margin-right: 20%;
      width: 60%;
  }
  .vol2{
  	margin-left: 20%;
      margin-right: 20%;
      width: 60%;
  }
  .vol3{
  	margin-left: 20%;
      margin-right: 20%;
      width: 60%;
  }
  .vol4{
  	margin-left: 20%;
      margin-right: 20%;
      width: 60%;
  }
  @media screen and (max-width:700px) {
  .column1 {
      place-items: center;
      margin-left: 20%;
      margin-right: 20%;
    width: 60%;
    padding:1%;
  }
  .column2 {
      margin-left: 20%;
      margin-right: 20%;
      width: 58%;
      

    }
   
    .column3 {
      margin-left: 20%;
      margin-right: 20%;
      width: 58%;
    }
     .column4 {
      place-items: center;
      margin-left: 20%;
      margin-right: 20%;
    width: 60%;
    padding:1%;
  }
   .column5 {
      place-items: center;
      margin-left: 20%;
      margin-right: 20%;
    width: 60%;
    padding:1%;
  }
  .vol1{
  	margin-left: 20%;
      margin-right: 20%;
      width: 60%;
  }
  .vol2{
  	margin-left: 20%;
      margin-right: 20%;
      width: 60%;
  }
  .vol3{
  	margin-left: 20%;
      margin-right: 20%;
      width: 60%;
  }
  .vol4{
  	margin-left: 20%;
      margin-right: 20%;
      width: 60%;
  }
  .imgBox1 img{
  	width: 100%;
  }
   .str1{
  	margin-left: 17%;
      margin-right: 20%;
      width: 60%;
  }
 .str2{
  	margin-left: 17%;
      margin-right: 20%;
      width: 60%;
  }
   .str3{
  	margin-left: 17%;
      margin-right: 20%;
      width: 60%;
  }
}
=======
body{
    background-image: url(https://a35iz1bymc-flywheel.netdna-ssl.com/wp-content/uploads/2016/05/hands.jpeg);
    height: auto;
    background-size: cover ;
    background position: center;
}

h1{
    padding: 15px;
    color:white;
    text-align:center;
}
.login-page{
    width: 400px;
    padding:10% 0 0 ;
    margin:auto;
}
.form{
    position: relative;
    z-index: 1;
    background: #91b9df;
    max-width:300px;
    margin: 0 auto 100px ;
    padding: 45px;
    min-height: auto;
    text-align-last: center;
}
.form input{
    font-family: 1;
    background: rgb(206, 193, 194);
    width:100%;
    border: 0;
    margin: 0 0 25px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form buttom{
 
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercasae ;
    outline: 0;
    background: rgba(31, 29, 29);
    width:100%;
    border: 0;
    padding: 15px;
    color: rgba(26, 21, 21);
    font-size: 15px;
    cursor:pointer;
}
.form button:hover,.form button:active{
  background: #39af39; 
}
.form.messege{
    margin: 15px 0 0;
    colour: aliceblue;
    font-size: 12px;
}
.form.message a{
    color: rgb(79, 167, 57);
    text-decoration: none;
}
.form.register-form{
    display: none;
}
.login-form{
    display: none;
}



>>>>>>> 0d1286a300a86d66641072eb6d2a53e620e46870:volunteer.css
