body{
    background-image: url(https://a35iz1bymc-flywheel.netdna-ssl.com/wp-content/uploads/2016/05/hands.jpeg);
    height: auto;
    background-size: cover ;
    background position: center;
}

h1{
    padding: 15px;
    color:white;
    text-align:center;
}
.login-page{
    width: 400px;
    padding:10% 0 0 ;
    margin:auto;
}
.form{
    position: relative;
    z-index: 1;
    background: #91b9df;
    max-width:300px;
    margin: 0 auto 100px ;
    padding: 45px;
    min-height: auto;
    text-align-last: center;
}
.form input{
    font-family: 1;
    background: rgb(206, 193, 194);
    width:100%;
    border: 0;
    margin: 0 0 25px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form buttom{
 
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercasae ;
    outline: 0;
    background: rgba(31, 29, 29);
    width:100%;
    border: 0;
    padding: 15px;
    color: rgba(26, 21, 21);
    font-size: 15px;
    cursor:pointer;
}
.form button:hover,.form button:active{
  background: #39af39; 
}
.form.messege{
    margin: 15px 0 0;
    colour: aliceblue;
    font-size: 12px;
}
.form.message a{
    color: rgb(79, 167, 57);
    text-decoration: none;
}
.form.register-form{
    display: none;
}
.login-form{
    display: none;
}



